<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.clevertap.android.sdk.Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidNativeClevertap"
        tools:targetApi="31">
        <activity
            android:name="com.example.androidnativeclevertap.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidNativeClevertap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="886-85W-7Z7Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="05b-6bb"/>
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="0"/>
    </application>

</manifest>